bitstring==3.1.7
clize==4.1.1
dataclasses-json==0.5.2
docrep==0.2.7
future==0.18.2
gspread==3.6.0
numpy==1.18.0
onnx==1.7.0
onnxoptimizer
onnxruntime==1.4.0
pre-commit==2.9.2
protobuf==3.20.1
pyscaffold==3.2.1
scipy==1.5.2
setupext-janitor>=1.1.2
toposort==1.5
vcdvcd==1.0.5
wget==3.2
