brevitas@git+https://github.com/Xilinx/brevitas@master#egg=brevitas_examples
dataclasses-json==0.5.7
docutils==0.19
gspread==3.6.0
importlib_resources
IPython
matplotlib
netron
pytest
qonnx@git+https://github.com/fastmachinelearning/qonnx@main#egg=qonnx
sphinx_rtd_theme==2.0.0
torch
torchvision
tqdm
vcdvcd
